{
    "Suministros - Hogar": [
        "IBERDROLA",
        "ENDESA"
    ],
    "Alimentacion - Supermercado": [
        "MERCADONA",
        "CARREFOUR"
    ],
    "Ocio - Suscripciones": [
        "AMAZON PRIME",
        "NETFLIX"
    ]
}